
/SkeletonTest/SkeletonTest/obj
/WpfApplication1/WpfApplication1/obj
/WPFKinectTest/WPFKinectTest/obj
/kinectdtw-1.0/DTWGestureRecognition/bin
/kinectdtw-1.0/DTWGestureRecognition/binbak
/kinectdtw-1.0/DTWGestureRecognition/obj
/kinectdtw-1.0/DTWGestureRecognition/objbak